* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

html {
  font-size: 100%;
}
body {
  overflow-x: hidden;
}
.navbar {
  height: 80px;
  background: var(--White);
  z-index: 99;
  display: flex;
  padding: 0 12rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.after-effect {
  display: none;
}
.nav-brand {
  font-size: 1.6rem;
  font-weight: bolder;
}
.hamburger-btn {
  display: none;
}
.close-btn {
  display: none;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.m-12 {
  margin: 0 12rem;
}
.p-4 {
  padding: 0 1rem;
}
.none {
  display: none;
}
.block {
  display: none;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
}

.nav-item {
  position: relative;
  cursor: pointer;
}
.nav-item:hover {
  color: var(--DarkBlue);
}
.nav-item::before {
  content: "";
  position: absolute;
  bottom: -160%;
  height: 2px;
  width: 0%;
  left: 50%;
  background: linear-gradient(90deg, var(--LimeGreen), var(--Bright-Cyan));
  transition: 0.3s;
}
.nav-item:hover::before {
  width: 100%;
  left: 0;
}
.request-btn {
  padding: 1rem 2rem;
  background: linear-gradient(90deg, var(--LimeGreen), var(--Bright-Cyan));
  border-radius: 99px;
  color: white;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}
.request-btn:hover {
  background: linear-gradient(90deg, rgb(95, 243, 149), rgb(63, 228, 240));
}
.landing-page {
  background: var(--Very-Light-Gray);
  overflow: hidden;
  height: 70vh;
  padding: 0 12rem;
  width: 100%;
}
.bg-desktop-1 {
  position: relative;
  top: -90%;
  left: 50%;
}
.bg-desktop-2 {
  position: absolute;
  width: 55rem;
  top: -8%;
  right: -8%;
}
.bg-mobile-1 {
  display: none;
}
.left {
  max-width: 35rem;
  transform: translateY(50%);
}
.left > header {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--DarkBlue);
}
.left > p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: var(--Grayish-Blue);
  line-height: 1.7rem;
}
.section-2 {
  background: var(--Light-Grayish-Blue);
  padding: 7rem 12rem;
}
.top {
  max-width: 45rem;
}
.top > header {
  font-size: 3rem;
  color: var(--DarkBlue);
  font-weight: 300;
  margin-bottom: 2rem;
}
.top > p {
  color: var(--Grayish-Blue);
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 4rem;
}
.bottom {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.bottom > .card {
  max-width: 270px;
}
.card-top {
  margin-bottom: 2.4rem;
  width: 100%;
}

.card-header {
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
  color: var(--DarkBlue);
}
.card-content {
  color: var(--Grayish-Blue);
  line-height: 1.7rem;
}
.section-3 {
  padding: 6rem 12rem;
  background: var(--Very-Light-Gray);
}
.section-3 header {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 300;
}
.writer {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
}
.card-header > a {
  text-decoration: none;
  color: var(--DarkBlue);
  font-size: 1.3rem;
}
.card-header > a:hover {
  color: var(--Bright-Cyan);
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.container > .card {
  background: var(--White);
  border-radius: 0.6rem;
  overflow: hidden;
  height: 30rem;
}

.container > .card > .card-top {
  margin-bottom: 1.8rem;
}
.container > .card > .card-top > img {
  object-fit: cover;
  height: 15rem;
}
.container > .card > .card-body > .card-header {
  margin-bottom: 1rem;
}
.container > .card > .card-body > .writer {
  margin-bottom: 0.7rem;
}
.container > .card > .card-body > .card-content {
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
}
footer {
  padding: 4rem 12rem;
  display: flex;
  justify-content: space-between;
  background: var(--DarkBlue);
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
}
.left-footer {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.logos {
  display: flex;
  gap: 1rem;
}
.logos svg {
  fill: var(--White);
}
.logos > svg:hover {
  fill: var(--LimeGreen)
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first > img {
  width: 90%;
}
.second > p,
.third > p {
  margin-bottom: 1rem;
  cursor: pointer;
}
.second > p:hover,
.third > p:hover {
  color: var(--LimeGreen)
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 575px) {
  html {
    font-size: 80%;
    text-align: center;
  }
  .navbar {
    padding: 0 2rem;
  }
  .block {
    display: block;
  }
  .nav-items {
    position: absolute;
    background: var(--White);
    color: black;
    top: 130%;
    left: 5%;
    border-radius: 1rem;
    flex-direction: column;
    padding: 2rem 0 3rem 0;
    width: 90%;
    font-size: 1.1rem;
    align-items: center;
    transition: 0.4s;
  }
  .tr-0 {
    transform: translateY(-350%);
  }
  .nav-item {
    width: fit-content;
  }
  .nav-item::before {
    bottom: -100%;
  }
  .after-effect {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-image: linear-gradient(var(--DarkBlue), transparent);
    height: 70vh;
    width: 100%;
    z-index: -1;
    display: block;
    transition: 0.2s;
  }
  .mb-none {
    display: none;
  }
  .flex {
    display: flex;
  }

  .left {
    transform: translateY(12rem);
    margin: auto;
  }
  .request-btn {
    margin: auto;
  }
  .request-btn-nav {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  .landing-page {
    padding: 0 2rem;
    height: 100vh;
  }
  .left {
    transform: translateY(140%);
  }
  .left > header {
    font-size: 3rem;
  }
  .flex-50 {
    width: 100%;
    flex: 1;
  }
  .right {
    width: 100%;
  }
  .bg-desktop-1 {
    display: none;
  }
  .bg-desktop-2 {
    top: -7%;
    width: 100%;
    left: 0;
  }
  .bg-mobile-1 {
    display: block;
    width: 120%;
    margin-top: -100%;
    margin-left: -10%;
  }
  .bg-image > img {
    transform: translate(-12rem, -7rem) scale(2);
  }
  .section-2 {
    padding: 7rem 2rem;
  }
  .bottom, .container {
    flex-direction: column;
  }
  .bottom > .card {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .bottom > .card > .card-body {
    padding: 0 2rem;
  }
  .bottom > .card > .card-body > .card-header {
    font-size: 1.6rem;
  }
  .bottom > .card > .card-body > .card-content {
    font-size: 1.1rem;
  }
  .section-3 {
    padding: 7rem 2rem;
  }
  .section-3 > header {
    font-size: 3rem;
  }
  .container > .card {
    text-align: left;
    max-width: 100%;
  }
  footer {
    flex-direction: column;
    padding: 4rem;
  }
  .left-footer {
    flex-direction: column;
    gap: 2.5rem;
  }
  .first {
    align-items: center;
    gap: 3rem;
  }
  .third {
    transform: translateY(-30%);
  }
  .first > img {
    width: 40%;
  }
  .right-footer {
    align-items: center;
    gap: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 1440px) {
  .navbar,
  .landing-page {
    padding: 0 6rem;
  }
  .section-2,
  .section-3 {
    padding: 7rem 6rem;
  }
  footer {
    padding: 4rem 6rem;
  }
}
@media (min-width: 1301px) and (max-width: 1440px) {
  .navbar,
  .landing-page {
    padding: 0 6rem;
  }
  .section-2,
  .section-3 {
    padding: 7rem 6rem;
  }
  footer {
    padding: 4rem 6rem;
  }
  .bg-desktop-2 {
    width: 50rem;
  }
}
@media (min-width: 576px) and (max-width: 1300px) {
  .bg-desktop-2 {
    width: 50%;
  }
}
